venv/
.idea/
__pycache__/
pars/ramblerkassa/__pycache__/
pars/parser.py
pars/ramblerkassa/old_film_parser.py
pars/ramblerkassa/test.py
pars/ramblerkassa/params.py
pars/concert/test.py
*.db
manager.py
pars/concert/concert_urls.txt
pars/concert/theatre_urls.txt
