<!DOCTYPE html>
<html lang="en">
<head>
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        #eventsTable {
            width: 100%;

        }
        #eventsTable td, th {
            text-align: center;
            padding: 12px;
            background-color: #f1f1f1;
        }
        #myform {
            text-align: left;

        #concert {
             text-align: center;
        }
        }
    </style>
</head>
<body>

<ul class="nav nav-tabs nav-justified">
  <li><a id='concert' href="/concerts">Концерты</a></li>
  <li><a id='cinema' href="/cinema">Кино</a></li>
  <li><a id='theatres' href="/theatres">Театры</a></li>
  <li><a id='exhibition' href="/exhibition">Выставки</a></li>
</ul>

<div class="container">
    <form action="/" method="get" id="myform">
        <fieldset>
            <legend>Выберите данные:</legend>
            Город: <br>
            <select name="city">
                <option value="moscow">Москва</option>
                <option value="saint-petersburg">Санкт-Петербург</option>
                <option value="sochi">Сочи</option>
            </select>
             <p>Выберите дату:
                <input type="date" name="calendar" value="2012-06-01"
                    max="2019-06-04" min="2012-05-29"><br/>
                 <input type="submit" class="btn btn-info" value="Искать">
        </fieldset>
    </form>
</div>

<table id="eventsTable" class="table table-striped">
    <thead>
        <tr>
            <th>город</th>
            <th>Название</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Место проведения</th>
            <th>Цена мин</th>
            <th>Цена макс</th>
            <th>Возрастная категория</th>
            <th>Описание</th>
            <th>Рейтинг</th>
        </tr>
    </thead>
    <tbody>
    {% for element in data %}
        <tr>
            <td>{{element.get('city')}}</td>
            <td>
                <button type="button" class="btn btn-link">{{element.get('title')}}</button>
            </td>
            <td>{{element.get('date').get('from')}}</td>
            <td>{{element.get('date').get('to')}}</td>
            <td>{{element.get('location').get('address')}}</td>
            <td>{{element.get('price_rub').get('from')}}</td>
            <td>{{element.get('price_rub').get('to')}}</td>
            <td>{{element.get('age_category')}}</td>
            <td>{{element.get('description')}}</td>
            <td>{{element.get('rating')}}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>

<ul class="pagination">
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
</ul>

</body>
</html>