{% extends "base.html" %}
{% block title %}Концерты{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <h1>{{concert_info.name}}</h1>
    <p>{{concert_info.description}}</p>
    <h3>Расписание</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Цены</th>
                    <th>Дата и время</th>
                    <th>Где</th>
                </tr>
            </thead>
            <tbody>
                {% for concert in concert_schedule %}
                  <tr class="active">
                      <td>{{ concert.price_from }} - {{ concert.price_to }}</td>
                      <td>{{ concert.date_start }}</td>
                      <td>{{ concert.place.name }}, {{ concert.place.address }}, Ближайшее метро: {{ concert.place.metro_station.name }}</td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
