{% extends "navigation.html" %}

<div class="container">
    <form class="form-inline" action="/" method="get" id="myform">
        <fieldset>
            <legend>Выберите данные:</legend>
            <div class="form-group">
            Город: <br>
            </div>
            <div class="form-group">
            <select name="city">
                <option value="moscow">Москва</option>
                <option value="saint-petersburg">Санкт-Петербург</option>
                <option value="sochi">Сочи</option>
            </select>
            </div>
            <div class="form-group">
             <p>Выберите дату:
                <input type="date" name="calendar" value="2012-06-01"
                    max="2019-06-04" min="2012-05-29"><br/>
              </div>
            <button type="submit" class="btn btn-info">Искать</button>

        </fieldset>
    </form>
</div>

<table id="eventsTable" class="table table-striped">
    <thead>
        <tr>
            <th>город</th>
            <th>Название</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Место проведения</th>
            <th>Цена мин</th>
            <th>Цена макс</th>
            <th>Возрастная категория</th>
            <th>Описание</th>
            <th>Рейтинг</th>
        </tr>
    </thead>
    <tbody>
    {% for element in data %}
        <tr>
            <td>{{element.get('city')}}</td>
            <td>
                <button type="button" class="btn btn-link">{{element.get('title')}}</button>
            </td>
            <td>{{element.get('date').get('from')}}</td>
            <td>{{element.get('date').get('to')}}</td>
            <td>{{element.get('location').get('address')}}</td>
            <td>{{element.get('price_rub').get('from')}}</td>
            <td>{{element.get('price_rub').get('to')}}</td>
            <td>{{element.get('age_category')}}</td>
            <td>{{element.get('description')}}</td>
            <td>{{element.get('rating')}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>