{% extends "base.html" %}
{% block title %}Ожидаемые события{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <h1>Ожидаемые события</h1>
    <div class="page-header">
        <h2>Концерты</h2>
        <div class="row">
            <div class="col-md-4">
                <h3><a href="/concert/{{fresh_events[0].event.id}}">{{fresh_events[0].event.name}}</a></h3>
                <div class="row">
                    <div class="col-md-6">
                        {{fresh_events[0].event.description[:50]}}
                    </div>
                    <div class="col-md-6">
                        Когда: {{fresh_events[0].date_start}}
                        <br>Рейтинг ожидания: {{fresh_events[0].event.rating}}
                        <br> Возрастное ограничение {{fresh_events[0].event.age_category.category}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3><a href="/concert/{{fresh_events[1].event.id}}">{{fresh_events[1].event.name}}</a></h3>
                <div class="row">
                    <div class="col-md-6">
                        {{fresh_events[1].event.description[:50]}}
                    </div>
                    <div class="col-md-6">
                        Когда: {{fresh_events[1].date_start}}
                        <br>Рейтинг ожидания: {{fresh_events[1].event.rating}}
                        <br> Возрастное ограничение {{fresh_events[1].event.age_category.category}}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <h3><a href="/concert/{{fresh_events[2].event.id}}">{{fresh_events[2].event.name}}</a></h3>
                <div class="row">
                    <div class="col-md-6">
                        {{fresh_events[2].event.description[:50]}}
                    </div>
                    <div class="col-md-6">
                        Когда: {{fresh_events[2].date_start}}
                        <br>Рейтинг ожидания: {{fresh_events[2].event.rating}}
                        <br> Возрастное ограничение {{fresh_events[2].event.age_category.category}}
                    </div>
                </div>
            </div>
        </div>
         <h2>Спектакли</h2>
        <div class="row">
            <div class="col-md-4">
                <h3><a href="/movie/{{fresh_events[3].event.id}}">{{fresh_events[3].event.name}}</a></h3>
                <div class="row">
                    <div class="col-md-6">
                        {{fresh_events[3].event.description[:50]}}
                    </div>
                    <div class="col-md-6">
                        Когда: {{fresh_events[3].date_start}}
                        <br>Рейтинг ожидания: {{fresh_events[3].event.rating}}
                        <br> Возрастное ограничение {{fresh_events[3].event.age_category.category}}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
               <h3><a href="/movie/{{fresh_events[4].event.id}}">{{fresh_events[4].event.name}}</a></h3>
                <div class="row">
                    <div class="col-md-6">
                        {{fresh_events[4].event.description[:50]}}
                    </div>
                    <div class="col-md-6">
                        Когда: {{fresh_events[4].date_start}}
                        <br>Рейтинг ожидания: {{fresh_events[4].event.rating}}
                        <br> Возрастное ограничение {{fresh_events[4].event.age_category.category}}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <h3><a href="/movie/{{fresh_events[5].event.id}}">{{fresh_events[5].event.name}}</a></h3>
                <div class="row">
                    <div class="col-md-6">
                        {{fresh_events[5].event.description[:50]}}
                    </div>
                    <div class="col-md-6">
                        Когда: {{fresh_events[5].date_start}}
                        <br>Рейтинг ожидания: {{fresh_events[5].event.rating}}
                        <br> Возрастное ограничение {{fresh_events[5].event.age_category.category}}
                    </div>
                </div>
            </div>
        </div>
         <h2>Фильмы</h2>
        <div class="row">
            <div class="col-md-4">
                <h3><a href="/theatre/{{fresh_events[6].event.id}}">{{fresh_events[6].event.name}}</a></h3>
                <div class="row">
                    <div class="col-md-6">
                        {{fresh_events[6].event.description[:50]}}
                    </div>
                    <div class="col-md-6">
                        Когда: {{fresh_events[6].date_start}}
                        <br>Рейтинг ожидания: {{fresh_events[6].event.rating}}
                        <br> Возрастное ограничение {{fresh_events[6].event.age_category.category}}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <h3><a href="/theatre/{{fresh_events[7].event.id}}">{{fresh_events[7].event.name}}</a></h3>
                <div class="row">
                    <div class="col-md-6">
                        {{fresh_events[7].event.description[:50]}}
                    </div>
                    <div class="col-md-6">
                        Когда: {{fresh_events[7].date_start}}
                        <br>Рейтинг ожидания: {{fresh_events[7].event.rating}}
                        <br> Возрастное ограничение {{fresh_events[7].event.age_category.category}}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <h3><a href="/theatre/{{fresh_events[8].event.id}}">{{fresh_events[8].event.name}}</a></h3>
                <div class="row">
                    <div class="col-md-6">
                        {{fresh_events[8].event.description[:50]}}
                    </div>
                    <div class="col-md-6">
                        Когда: {{fresh_events[8].date_start}}
                        <br>Рейтинг ожидания: {{fresh_events[8].event.rating}}
                        <br> Возрастное ограничение {{fresh_events[8].event.age_category.category}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}