{% extends "base.html" %}
{% block title %}Ожидаемые события{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <h1>Ожидаемые события</h1>
    <div class="page-header">
        <h2>Концерты</h2>
        <div class="row">
            {% for event in concert_events%}
            <div class="col-md-4">
                <h3><a href="/concert/{{event.event.id}}">{{event.event.name}}</a></h3>
                <div class="row">
                    <div class="col-md-6">
                        {{event.event.description[:50]}}
                    </div>
                    <div class="col-md-6">
                        Когда: {{event.date_start}}
                        <br>Рейтинг ожидания: {{event.event.rating}}
                        <br> Возрастное ограничение {{event.event.age_category.category}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
         <h2>Спектакли</h2>
        <div class="row">
             {% for event in play_events%}
            <div class="col-md-4">
                <h3><a href="/theatre/{{event.event.id}}">{{event.event.name}}</a></h3>
                <div class="row">
                    <div class="col-md-6">
                        {{event.event.description[:50]}}
                    </div>
                    <div class="col-md-6">
                        Когда: {{event.date_start}}
                        <br>Рейтинг ожидания: {{event.event.rating}}
                        <br> Возрастное ограничение {{event.event.age_category.category}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
         <h2>Фильмы</h2>
        <div class="row">
            {% for event in movie_events%}
            <div class="col-md-4">
                <h3><a href="/movie/{{event.event.id}}">{{event.event.name}}</a></h3>
                <div class="row">
                    <div class="col-md-6">
                        {{event.event.description[:50]}}
                    </div>
                    <div class="col-md-6">
                        Когда: {{event.date_start}}
                        <br>Рейтинг ожидания: {{event.event.rating}}
                        <br> Возрастное ограничение {{event.event.age_category.category}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}